body{
    max-width: 1024px;
    background: lightslategray;
    margin-left: auto;
    margin-right: auto;
    }

.CV{
    padding-top: 100px;
    max-width: 900px;
    background: aliceblue;
}
header {
    position: fixed;
    top: 0;
    min-width: 80%;
    max-width: 1024px;
    background: lightslategray;
    z-index: 3;
    text-align: center;
    margin-left: fill;
}

.leftimg {
    float:left;
    margin: 7px 7px 7px 7px;
}

.hello{
    margin: 7px 7px 7px 7px;
    width: 90%;
}

article {
    margin: 7px 7px 7px 7px;;
}

footer{
    margin: 7px 7px 7px 7px;
}